body { background-color: lightgray;}

.header {
    display: flex;
    background-color: white;
    height: 85px;
    align-items: center;
}

.logo {
    font-style: italic;
    font-weight: 1000;
    font-size:  50px;
    color: purple;
    margin: 10px;
}

.links {
    display: flex;
    gap: 25px;
    list-style-type: none;
    font-size: 27px;
    color: purple;
}


.notifications {
    margin-left: auto;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: purple;
    color: white;
    border-radius: 9px;

}

.profile-image {
    width: 55px;
    height: 55px;
    background-color: purple;
    border-radius: 50px;
    margin: 20px;

}